<div class="container">
  <div class="header d-flex align-items-center justify-content-between">
    <h1><img class="logo" src="assets/logo3d.svg" alt=""></h1>
    <span><img class="burger-menu" src="assets/burger-menu.svg" alt=""></span>
  </div>
  <div class="main">
    <div class="intro">
      <img class="title" src="assets/title.svg" alt="">
    </div>
  </div>
  <div class="boutons d-flex flex-column">
     <button class="button">Inscription</button>
     <button class="button">Se connecter</button>
  </div>
</div>
