.main-container {
  background: linear-gradient(0deg,#B2B4F3, #FF7D99);
  background-size: 120% 120%;
  animation: gradient-animation 20s ease infinite;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;

  @media screen and(min-width: 1024px){
    grid-template-columns: repeat(2, 1fr);
  }
  .header {
    align-self: flex-start;
    align-items: center;
    margin: 10px 20px;
    z-index: 1;
    @media screen and(min-width: 1024px){
      grid-column: 1 / span 2;
    }
    .burger {
      img {
        cursor: pointer;
      }
    }
  }

  .image-desktop {
    display: none;
    @media screen and(min-width: 1024px){
      grid-column: 1 / span 1;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      grid-row: 2 / span 2;
      img {
        width: 350px;
      }
    }
  }
  .main {
    position: relative;
    z-index: 1;
    height: 40vh;
    @media screen and(min-width: 1024px){
        grid-column:  2;
        grid-row: 2;
      align-self: center;
      height: initial;
    }
    .intro{
      .title{
        width: 100%;
        height: 65px;
        @media screen and(min-width: 1024px){
          height: 105px;
          align-self: center;

        }


      }
    }
  }
  .boutons {
    justify-content: center;
    align-items: center;
    padding-top:50px;
    position: relative;
    z-index: 1;
    @media screen and(min-width: 1024px){
      grid-column: 2;
      align-self: flex-start;
      grid-row: 3;
    }
    .button{
      font-family: Bree, sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      color: #e88b9a;
      cursor: pointer;
      border: 0;
      height: 65px;
      width: 300px;
      margin: 0 0 10px 0;
      background: url("../../assets/button.svg");
      background-repeat: no-repeat;
    }
    .button-color{
      font-family: Bree, sans-serif;
      font-size: 20px;
      text-transform: uppercase;
      cursor: pointer;
      color: #ffffff;
      border: 0;
      height: 65px;
      width: 300px;
      margin: 0 0 10px 0;
      background: url("../../assets/button-color.svg");
      background-repeat: no-repeat;
    }
  }
  .burger-menu{
    height: 60px;
    width: 100%;
  }
  .logo{
    height: 40px;
    width: 100%;
    @media screen and(min-width: 1024px){
      height: 60px;
    }
  }

}


.image-mobile {
  position: absolute;
  bottom: -9px;
  left:0;
  display: flex;
  right: 0;
  img {
    width: 250px;
    margin: auto;
  }
  @media screen and(min-width: 1024px){
   display: none;
  }
}


@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
