<div class="main-container">
  <div class="container">
    <div class="header d-flex align-items-center justify-content-between">
      <h1><img class="logo" src="assets/logo3d.svg" alt=""></h1>
      <div class="burger"><img (click)="toggleMenu()" class="burger-menu" src="{{burgerMenuIsOpen ? 'assets/burger-menu-pressed.svg' : 'assets/burger-menu.svg'}}" alt=""></div>
    </div>
    <div class="image-desktop">
      <img src="assets/people-home.png" alt="">
    </div>
    <div class="main">
      <div class="intro">
        <img class="title" src="assets/title.svg" alt="">
      </div>
    </div>
    <div class="boutons d-flex flex-column">
      <button class="button-color">Inscription</button>
      <button class="button">Se connecter</button>
    </div>
  </div>
</div>

<div class="image-mobile">
  <img src="assets/people-home.png" alt="">
</div>
